<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>OTM</title>
    <link rel="stylesheet" th:href="@{css/style.css}">
    <link rel="stylesheet" th:href="@{css/style-form.css}">
    <link rel="icon"
          th:href="@{img/logo500.png}"
          type="image/png">

    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Oswald&family=Caveat:wght@700&display=swap"
          rel="stylesheet">

</head>
<body>

<div class="container">
    <div class="header">
        <a class="logo">OTM</a>
    </div>
    <div class="content">

        <div class="button-list">
            <div class="list-element">
                <input class="button" onClick="location.href='/statistics'" type="button" value="STATISTICS ✔️">
            </div>
            <div class="list-element">
                <input class="button" onClick="location.href='/chart?numberOfHours=20'" type="button"
                       value="CHART OVERVIEW 📈">
            </div>
            <div class="list-element">
                <input class="button" onClick="location.href='/main'" type="button" value="MAIN PAGE 🏠">
            </div>
            </br>
            <div class="list-element">
                <input class="button logout" onClick="location.href='/logout'" type="button" value="LOGOUT">
            </div>
        </div>
    </div>


</div>


</body>
</html>